<br>
<h1 class="card bg-light text-white text-center container">New Student</h1>
<br>
<%= render 'form', student: @student %>
<br>
<div class="container">
<%= link_to 'Back', students_path, class:'btn btn-primary container' %>
</div>